# Android Studio & IntelliJ
.idea/
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# NDK & C++
*.swp
*.patch
.DS_Store
libs/

# Secrets & Keys
*.jks
*.keystore
google-services.json

# Log & Temporary
*.log
.temp/
